{% extends 'base.html.twig' %}

{% block title %}Detailpagina{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="box">
    <div class="box-content">
        <div class="button">
            {% if user.roles[0] == "ROLE_CANDIDATE" %}
            <a href="{{path('profielWN')}}">Mijn Profiel</a>
            {% else %}
            <a href="{{path('profielWG')}}">Mijn Profiel</a>
            {% endif %}
            <a href="{{path('homepage')}}">Homepage</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            Plaatje
        </div>
        <div class="col-md-6">
            <h6>{{data.datum | date('Y/m/d')}}</h6>
            <h1>{{data.titel}}</h1>
            <div class="flotl">
                <h4>Niveau: {{data.niveau}}</h4>
            </div>
            <div class="flotr">
                <h4>Plaats: {{data.userWG.woonplaats}}</h4>
            </div>
            <div style="clear: both"></div>
            <div class="omsch">{{data.omschrijving}}</div>
            <div style="margin-top: 30px; margin-bottom: 30px">
                {% if user.roles[0] == "ROLE_CANDIDATE" %}
                    <input type="submit" id="sllctrn" value="Solliciteer Nu!">
                {% endif %}
            </div>
            <h2> Meer vacatures van {{data.userWG.gebruikersnaam}}</h2>
            <div class="row">
                <div class="col-md-2 tablehead">
                    Datum
                </div>
                <div class="col-md-5 tablehead">
                    Vacature
                </div>
                <div class="col-md-5 tablehead">
                    Niveau
                </div>
            </div>
            <hr>
            <div>
                {% for vacature in data2 %}
                    <div class="row">
                        <span class="col-md-2">
                            {{vacature.datum | date('Y/m/d')}}
                        </span>
                        <span class="col-md-5">
                            {{vacature.titel}}
                        </span>
                        <span class="col-md-5">
                            {{vacature.niveau}}
                        </span>
                    </div><hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $('#sllctrn').click(function(){
            $.ajax({
                url: "{{path('sollDirect')}}",
                method: "POST",
                data: {cv: "Cv Goed", motivatie: "Motivatie Goed", vacature_id: {{data.id}}},
                success: function(response){
                    $('#sllctrn').attr("value" , "Gesolliciteerd!");
                    $('#sllctrn').prop('disabled', true);
                }
            })
        })
    })
</script>

{% endblock %}
