{% extends 'base.html.twig' %}

{% block title %}Detailpagina{% endblock %}

{% block body %}
<div class="box">
    <h1 class="logos">VACIT</h1>
    <div class="box-content">
        <div class="buttons">
            {% if user.roles[0] == "ROLE_CANDIDATE" %}
            <a href="{{path('profielWN')}}">MIJN PROFIEL</a>
            {% else %}
            <a href="{{path('profielWG')}}">MIJN PROFIEL</a>
            {% endif %}
            <a href="{{path('homepage')}}">HOMEPAGE</a>
        </div>
    </div>
</div>
<div class="addon">
</div>
<div class="grid-x">
    <div class="cell large-2">
        <img src="{{data.platform.afbeelding}}" style="width: 110px; height: 110px">
    </div>
    <div class="cell large-9">
        <h6>{{data.datum | date('Y/m/d')}}</h6>
        <h1>{{data.titel}}</h1>
        <div class="flotl">
            <h4>Niveau: {{data.niveau}}</h4>
        </div>
        <div class="flotr">
            <h4><i class="fas fa-map-marker-alt" style="color: #F15A24"></i> : {{data.userWG.woonplaats}}</h4>
        </div>
        <div style="clear: both"></div>
        <div class="omsch">{{data.omschrijving}}</div>
        <div style="margin-top: 30px; margin-bottom: 30px">
            {% if user.roles[0] == "ROLE_CANDIDATE" %}
                <input type="submit" id="sllctrn" value="Solliciteer Nu!">
            {% endif %}
        </div>
        <h2> Meer Vacatures van {{data.userWG.gebruikersnaam}}</h2>
        <table class="display">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Niveau</th>
                </tr>
            </thead>
            <tbody>
                {% for vacature in data2 %} 
                <tr>
                    <td>{{vacature.datum | date('Y/m/d')}}</td>
                    <td>{{vacature.titel}}</td>
                    <td>{{vacature.niveau}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>

    $(document).ready(function(){
        $('#sllctrn').click(function(){
            $.ajax({
                url: "{{path('sollDirect')}}",
                method: "POST",
                data: {cv: "Cv Goed", motivatie: "Motivatie Goed", vacature_id: {{data.id}}},
                success: function(response){
                    $('#sllctrn').attr("value" , "Gesolliciteerd!");
                    $('#sllctrn').prop('disabled', true);
                }
            })
        })
    })
</script>
{% endblock %}
