{% extends 'base.html.twig' %}

{% block title %}Dit is de Homepage!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Plaatje
            </div>
            <div class="col-md-8">
                {% for vacature in data %}
                    <h2>{{vacature.titel}}</h2>
                    <div>{{vacature.omschrijving}}<br>
                    <a href="{{ path('detailpage' , { 'id': vacature.id}) }}">Link to Detailpage</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        {% if user.roles[0] == "ROLE_CANDIDATE" %}
            <a href="{{ path('profielWN')}}">Mijn Profiel</a>
        {% else %}
            <div><a href="{{path('profielWG')}}">Mijn Profiel</a></div>
            <div><a href="{{path('formvac')}}">Toevoegen Vacature</a></div>
        {% endif %}
    </div>
</div>
{% endblock %}
