{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="box">
    <h1 class="logos">VACIT</h1>
    <div class="box-content">
        <div class="buttons">
            {% if user != null %}
                {% if user.roles[0] == "ROLE_CANDIDATE" %}
                    <a href="{{path('profielWN')}}">MIJN PROFIEL</a>
                {% else %}
                    <a href="{{path('profielWG')}}">MIJN PROFIEL</a>
                    <a href="{{path('formvac')}}">TOEVOEGEN VACATURE</a>
                {% endif %}
            {% endif %}
            <a href="{{path('app_login')}}">INLOGGEN</a>
            <a href="{{path('registerlink')}}">REGISTREREN</a>
        </div>
    </div>
</div>
<div class="grid-x" style="background-color: #F15A24">
    <div class="cell large-4" style="position: relative">
        <div class="slide" style="margin-left: 50px; margin-top: 50px">
            <div class="hexa" id="vegasShow" style="background-size: 60% 60%">
                <script>
                    let vacatures_info = [];
                    {% for vacature in data | sort((a, b) => b.datum <=> a.datum) %}
                        {% set platformlogo = vacature.platform.afbeelding | default('Windows') %}
                            vacatures_info.push({src: "{{ vacature.platform.afbeelding|format(platformlogo) }}",
                            titel: "{{vacature.niveau}} {{vacature.titel}}", 
                            plaats: "{{vacature.userWG.gebruikersnaam}}, {{vacature.userWG.woonplaats}}"});
                    {% endfor %}
                    $(document).ready( function(){
                        console.log(vacatures_info);
                        $("#vegasShow").vegas({
                            slides: vacatures_info,
                            slidesToKeep: 0,
                            timer: false,
                            walk: function(index, slideSettings){
                                $('#vacature_titel').html(slideSettings.titel);
                                $('#vacature_plaats').html(slideSettings.plaats);
                            }
                        });
                    })
                </script>
            </div>
        </div>
        <h2 id="vacature_titel" class="label"></h2>
        <h4 id="vacature_plaats" class="small_label"></h4>
    </div>
    <div class="cell large-8">
        {% for vacature in data %}
            <div class="grid-x">
                <div class="cell large-2 small-2" style="margin-top: 40px">
                    <div class="hexa">
                        <img src="{{vacature.platform.afbeelding}}" style="width: 115px; height: 115px">
                    </div>
                </div>
                <div class="cell large-8 small-8" style="margin-top: 20px">
                    <div class="grid-x">
                        <div class="cell large-9 small-11" style="margin-top: 20px">
                            <h6>{{vacature.datum| date('Y/m/d')}}</h6>
                            <h2 style="color: white">{{vacature.titel}} voor {{vacature.userWG.gebruikersnaam}}</h2>
                            <div style="font-style: italic">{{vacature.omschrijving}}</div>
                        </div>
                        <div class="cell large-2 small-12">
                            <a href="{{ path('detailpage' , { 'id': vacature.id}) }}"><i class="fas fa-arrow-right fa-4x" style="color: white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
