{% extends 'base.html.twig' %}

{% block title %}Profiel Werknemer{% endblock %}

{% block body %}

<div class="box">
    <h1 class="logos">VACIT</h1>
    <div class="box-content">
        <div class="buttons">
            <a href="{{path('mijn_sols', { 'user_id' : user.id})}}">MIJN SOLLICITATIES</a>
            <a href="{{path('homepage')}}">HOMEPAGE</a>
        </div>
    </div>
</div>
<div class="addon"></div>
<div class="grid-x" style="color: #F15A24">
    <div class="cell large-2" style="margin-left: 70px; margin-top: 50px">
        <h3 style="color: #F15A24">Upload Profielfoto</h3>
        <div class="loader"></div>
            <script>
                $(document).ready(function() {
                    $('#png').hide();
                    $('#pdf').hide();
                    $('.loader').hide();
                    let uploader = new ss.SimpleUpload({
                        button: "upload",
                        url: "{{ path('upload_file') }}",
                        name: 'file', // upload parameter name die gebruikt wordt in de controller
                        responseType: 'json',
                        allowedExtensions: ['png', 'jpg', 'jpeg', 'pdf'],
                        hoverClass: 'hover-class-upload',
                        focusClass: 'hover-class-upload',
                        multiple: false,
                        disabledClass: 'ui-state-disabled',
                        autoSubmit: true,
                        onSizeError: function() {
                            alert('File may not exceed 100MB');
                        },
                        onExtError: function() {
                            alert('Invalid file type. Please use a PNG, JPG or JPEG or PDF file');
                        },
                        onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                            $('#upload').hide(); $('#pdf').hide(); $('#png').hide();
                            $('.loader').show();
                            return(true);
                        },
                        onComplete: function (filename, response) {
                            if(response.success === false) {
                                alert(response.errors);
                            } else {
                                let str = response.file_id;
                                if(str.slice(str.length - 3) == "pdf"){
                                    $('#pdf').show();
                                    $('#png').hide();
                                }else{
                                    $('#upload').attr("src", "/" + str);
                                    $('#pdf').hide();
                                }
                                console.log(response.file_id);
                                $('#upload').show();
                                $('.loader').hide();
                            }
                        }
                    });
                });
            </script>    
        <img src="/screenshots/uploadFoto.jpg" id="upload" style="width: 150px; height: 150px">
    </div>
    <div class="cell large-9">
        <h1 style="color: #F15A24; margin-top: 30px; margin-bottom: 30px">Mijn Profiel</h1>
        <form action="{{path('bijwerkenWN')}}" method="POST">
            <div class="form">
                <label for="inputGebruikersnaam">Gebruikersnaam</label>
                <input type="text" value="{{user.gebruikersnaam}}" name="gebruikersnaam" id="inputGebruikersnaam" class="form-control rc form">
                <label for="inputEmail">Email</label>
                <input type="text" value="{{user.email}}" name="email" id="inputEmail" class="form-control rc form" autocomplete="email" required autofocus>
                <div class="grid-x">
                    <div class="cell large-4 small-12" style="margin-right: 30px">
                        <label for="inputGeboortedatum">Geboortedatum</label>
                        <input type="text" value="{{user.geboortedatum | date('Y/m/d')}}" name="geboortedatum" id="inputGeboortedatum" class="form-control rc form">
                    </div>
                    <div class="cell large-7 small-12">
                        <label for="inputTelefoonnummer">Telefoonnummer</label>
                        <input type="text" value="{{user.telefoonnummer}}" name="telefoonnummer" id="inputTelefoonnummer" class="form-control rc form">
                    </div>
                </div>
                <input type="hidden" value="{{user.password}}" name="password" id="inputPassword" class="form-control rc form" autocomplete="current-password" required>
                <label for="inputAdres">Adres</label>
                <input type="text" value="{{user.adres}}" name="adres" id="inputAdres" class="form-control rc form">
                <div class="grid-x">
                    <div class="cell large-4 small-12" style="margin-right: 30px">
                        <label for="inputPostcode">Postcode</label>
                        <input type="text" value="{{user.postcode}}" name="postcode" id="inputPostcode" class="form-control rc form">
                    </div>
                    <div class="cell large-7 small-12">
                        <label for="inputWoonplaats">Woonplaats</label>
                        <input type="text" value="{{user.woonplaats}}" name="woonplaats" id="inputWoonplaats" class="form-control rc form">
                    </div>
                </div>
            </div>
            <script>

                $(document).ready(function(){

                    $('#wysiwyg').richText({

                        imageUpload: true,
                        fileUpload: false,
                        fontList: [
                            "Calibri"
                        ],
                        urls: false
                    });
                })
            </script>
            <h1 style="color: #F15A24; margin-top: 30px; margin-bottom: 20px">Motivatie</h1>
            <textarea id="wysiwyg" style="width: 500px" name="motivatie" class="rc"></textarea>

            <button class="btn btn-lg btn-primary flotr" 
                    style="margin-top: 20px; margin-bottom: 20px; background-color: white; border: 0" 
                    type="submit">
                <h2 style="color: #F15A24"><i class="fas fa-arrow-right"></i> Opslaan</h2>
            </button>
            <div style="clear: both"></div>
        </form>
        <h1 style="color: #F15A24">Upload CV</h1>
            <script>
                $(document).ready(function() {
                    $('#png').hide();
                    $('#pdf').hide();
                    $('.loader').hide();
                    let uploader = new ss.SimpleUpload({
                        button: "upload2",
                        url: "{{ path('upload_file') }}",
                        name: 'file', // upload parameter name die gebruikt wordt in de controller
                        responseType: 'json',
                        allowedExtensions: ['png', 'jpg', 'jpeg', 'pdf'],
                        hoverClass: 'hover-class-upload',
                        focusClass: 'hover-class-upload',
                        multiple: false,
                        disabledClass: 'ui-state-disabled',
                        autoSubmit: true,
                        onSizeError: function() {
                            alert('File may not exceed 100MB');
                        },
                        onExtError: function() {
                            alert('Invalid file type. Please use a PNG, JPG or JPEG or PDF file');
                        },
                        onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                            $('#upload2').hide(); $('#pdf').hide(); $('#png').hide();
                            $('.loader').show();
                            return(true);
                        },
                        onComplete: function (filename, response) {
                            if(response.success === false) {
                                alert(response.errors);
                            } else {
                                let str = response.file_id;
                                if(str.slice(str.length - 3) == "pdf"){
                                    $('#pdf').show();
                                    $('#png').hide();
                                }else{
                                    //$('#upload2').attr("src", "/" + str);
                                    $('#png').show();
                                    $('#pdf').hide();
                                }
                                console.log(response.file_id);
                                let sub = str.substring(21, str.length);
                                $('#upload2').text(sub);
                                $('#upload2').show();
                                $('.loader').hide();
                            }
                        }
                    });
                });
            </script>     
            <div class="grid-x">
                <div class="cell large-1">
                    <i class="fas fa-file-pdf fa-2x" id="pdf" style="color: #F15A24"></i>
                    <i class="fas fa-file-image fa-2x" id="png" style="color: #F15A24"></i>
                    <div class="loader"></div>
                </div>
                <div class="cell large-8">
                    <div class="uploadstyle" id="upload2" >Upload</div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
