{% extends 'base.html.twig' %}

{% block title %}Hello ProfielWGController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {% for sollicitatie in data %}
        <script>

            $(document).ready(function(){
                $('#{{sollicitatie.ID}}sol').click(function(){
                    $.ajax({
                        url: "{{path('verwsol', {'soll_id' : sollicitatie.ID})}}",
                        method: "POST",
                        success: function(response){
                            
                        }
                    })
                    $('#{{sollicitatie.ID}}div').remove();
                })
            })
        </script>
        <div id="{{sollicitatie.ID}}div">
            <span>
                {{sollicitatie.id}}
            </span>
            <span>
                {{sollicitatie.vacature.titel}}
            </span>
            <span>
                {{sollicitatie.vacature.userWG.gebruikersnaam}}
            </span>
            <span>
                {% if sollicitatie.uitnodiging == 1 %}
                    Vinkje
                {% endif %}
            </span>
            <span>
                <input type="button" id="{{sollicitatie.ID}}sol" value="Sollicitatie Verwijderen">
            </span>
        </div>
    {% endfor %}
</div>
{% endblock %}
