{% extends 'base.html.twig' %}

{% block title %}Mijn Sollicitaties{% endblock %}

{% block body %}
<div class="box">
    <h1 class="logos">VACIT</h1>
    <div class="box-content">
        <div class="buttons">
            <a href="{{path('profielWN')}}">MIJN PROFIEL</a>
            <a href="{{path('homepage')}}">HOMEPAGE</a>
        </div>
    </div>
</div>
<div class="addon"></div>
<div class="grid-x">
    <div class="cell large-3">
        Plaatje
    </div>
    <div class="cell large-8">
        <h1 style="color: #F15A24; margin-top: 30px; margin-bottom: 30px">Mijn Sollicitaties</h1>
        <table class="display">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Vacature</th>
                    <th>Bedrijf</th>
                    <th>Status Uitnodiging</th>
                    <th>Verwijderen?</th>
                </tr>
            </thead>
            <tbody>
                {% for sollicitatie in data %} 
                <script>

                    $(document).ready(function(){
                        $('#{{sollicitatie.ID}}sol').click(function(){
                            $.ajax({
                                url: "{{path('verwsol', {'soll_id' : sollicitatie.ID})}}",
                                method: "POST",
                                success: function(response){
                                    
                                }
                            })
                            $('#{{sollicitatie.ID}}div').remove();
                        })
                    })
                </script>
                <tr>
                    <td>{{sollicitatie.datum | date('Y/m/d')}}</td>
                    <td>{{sollicitatie.vacature.titel}}</td>
                    <td>{{sollicitatie.vacature.userWG.gebruikersnaam}}</td>
                    <td>{% if sollicitatie.uitnodiging == 1 %}
                        <i class="fas fa-check fa-2x" style="color: #F15A24"></i>
                    {% endif %}</td>
                    <td><input type="button" id="{{sollicitatie.ID}}sol" value="Sollicitatie Verwijderen"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
