{% extends 'base.html.twig' %}

{% block title %}Mijn Vacatures_Sollicitaties{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="box">
    <div class="box-content">
        <div class="button">
            <a href="{{path('mijn_vac')}}">Mijn Vacatures</a>
            <a href="{{path('profielWG')}}">Mijn Profiel</a>
            <a href="{{path('homepage')}}">Homepage</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        Plaatje
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3 tablehead">
                Datum sollicitatie
            </div>
            <div class="col-md-3 tablehead">
                Titel
            </div>
            <div class="col-md-3 tablehead">
                Sollicitant
            </div>
            <div class="col-md-3 tablehead">
                Uitnodigen?
            </div>
        </div>
        <hr>
        {% for sollicitatie in data %}
            <script>

                $(document).ready(function(){
                    $('#{{sollicitatie.ID}}tndgn').click(function(){
                        $.ajax({
                            url: "{{path('vacsol')}}",
                            method: "POST",
                            data: {sol_id: {{sollicitatie.ID}}},
                            success: function(response){
                                $('{{sollicitatie.ID}}tndgn').attr("value" , "Uitgenodigd");
                                $('{{sollicitatie.ID}}tndgn').prop('disabled', true);
                            }
                        })
                    })
                })
            </script>
            <div class="row">
                <div class="col-md-3">
                    {{sollicitatie.datum | date('Y/m/d')}}
                </div>
                <div class="col-md-3">
                    {{sollicitatie.vacature.titel}}
                </div>
                <div class="col-md-3">
                    <a href="{{path('profielWNA', {'user_id': sollicitatie.userWN.ID})}}">{{sollicitatie.userWN.gebruikersnaam}}</a>
                </div>
                <div class="col-md-3">
                    <input type="button" id="{{sollicitatie.ID}}tndgn" value="Uitnodigen">
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
