{% extends 'base.html.twig' %}

{% block title %}Hello ProfielWGController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello World! ✅</h1>

    <div>
        {% for sollicitatie in data %}
            <script>

                $(document).ready(function(){
                    $('#{{sollicitatie.ID}}tndgn').click(function(){
                        $.ajax({
                            url: "{{path('vacsol')}}",
                            method: "POST",
                            data: {sol_id: {{sollicitatie.ID}}},
                            success: function(response){
                                $('{{sollicitatie.ID}}tndgn').attr("value" , "Uitgenodigd");
                                $('{{sollicitatie.ID}}tndgn').prop('disabled', true);
                            }
                        })
                    })
                })
            </script>
            <div>
                <span>
                    {{sollicitatie.datum | date('Y/m/d')}}
                </span>
                <span>
                    {{sollicitatie.vacature.titel}}
                </span>
                <span>
                    <a href="{{path('profielWNA', {'user_id': sollicitatie.userWN.ID})}}">{{sollicitatie.userWN.gebruikersnaam}}</a>
                </span>
                <span>
                    <input type="button" id="{{sollicitatie.ID}}tndgn" value="Uitnodigen">
                </span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
