{% extends 'base.html.twig' %}

{% block title %}Mijn Vacatures{% endblock %}

{% block body %}
<div class="box">
    <h1 class="logos">VACIT</h1>
    <div class="box-content">
        <div class="buttons">
            <a href="{{path('profielWG')}}">Mijn Profiel</a>
            <a href="{{path('homepage')}}">Homepage</a>
        </div>
    </div>
</div>
<div class="addon"></div>
<div class="grid-x">
    <div class="cell large-2">
        Plaatje
    </div>
    <div class="cell large-9">
        <h1 style="color: #F15A24; margin-top: 30px; margin-bottom: 30px">Mijn Vacatures</h1>
        <table class="display">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Aantal Sollicitaties</th>
                    <th>Link naar Sollicitaties</th>
                </tr>
            </thead>
            <tbody>
                {% for vacature in data %} 
                <tr>
                    <td>{{vacature.datum | date('Y/m/d')}}</td>
                    <td>{{vacature.titel}}</td>
                    <td>{{vacature.sollicitaties | length}}</td>
                    <td><a href="{{ path('mijn_vacsol' , { 'vac_id': vacature.id}) }}">Bekijk alle sollicitaties</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
